.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: rgb(0, 31, 63);
  }
  



  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
    background-image: url('../assets/bluebg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.desc span {
  font-size: 0.9rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#058290, #04239f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
.mydesc {
  
  display: flex;
  padding-bottom: 60px;
  
}

.mydesc h2 {
  margin: "0 10px" 
}

  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: rgb(0, 44, 87);
    height: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }
  
  .aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo {
    flex: 1;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .photo img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Optional: Apply a border-radius for a circular image */
  }
  
  .skills {
    flex: 1;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .skills h1 {
    color: #3e497a; /* Adjust the color as needed */
  }
  
  .skills ol {
    list-style: none;
    padding: 0;
  }
  
  .skills .item {
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  @media only screen and (max-width: 600px) {
    .aboutme {
      flex-direction: column;
    }
  
    .photo,
    .skills {
      flex: none;
      width: 100%;
    }
  }



  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }



  .about.visible .mydesc h2,
  .about.visible .desc span,
  .skills.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .about .mydesc h2,
  .about .desc span,
  .skills {
    opacity: 0;
  }